.sec-home {
    display: flex;
    height: 100vh;
    gap: 2rem;
}

.sec-home ::selection {
    background-color: var(--bg-purple-2);
    color: var(--bg-white);
}

.wall-home {
    background-image: var(--bg-img-home);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
}

.home_box__info {
    width: 50%;
    margin: auto 0;
}

.home_box__info h1 {
    color: var(--bg-white);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

.home_box__info h1 b {
    color: var(--bg-purple-1);
    font-size: 3rem;
    font-family: 'Pacifico', cursive;
}

.home_box__info h2 {
    color: var(--bg-white);
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.home_box__info .btn-about-me a {
    background: transparent;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 15rem;
    text-decoration: none;
    color: white;
    display: inline-flex;
    justify-content: center;
}

.home_box__info .btn-about-me a i {
    margin-left: .5rem;
}

.home_box__info .btn-about-me a:hover {
    background-color: var(--bg-purple-1);
    border: 1px solid var(--bg-purple-1);
    transition: .5s;
}

/*  */
.home_box__info p {
    color: var(--bg-white);
    margin: 1.5rem 0;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.home_image {
    width: 40%;
    margin: auto 0;
}

.home_image img {
    width: 100%;
}

/* ENLACES | REDES SOCIALES | CV*/
.home_box__info ul {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.info__network {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0;
    gap: .5rem;
}

.info__network li {
    list-style: none;
    display: flex;
}

.info__network li a {
    min-width: 2rem;
    height: 2rem;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    transition: .3s ease;
    position: relative;
    overflow: hidden;
}

.info__network li a span {
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%, -50%);
    opacity: 0;
    display: flex;
    align-items: center;
    transition: .3s ease;
    font-size: .8rem;
}

.info__network li a span i {
    margin-left: .3rem;
}

.info__network li a .icon {
    transition: .4s ease;
    line-height: 32px;
}

.info__network li a:hover {
    border-radius: 20px;
    background-color: transparent;
    border-color: #fff;
    min-width: 120px;
}

.info__network li a:hover span {
    top: 50%;
    opacity: 1;
    color: #fff;
}

.info__network li a:hover .icon {
    line-height: 120px;
    opacity: 0;
}

/* Github */
.info__network--Github {
    color: var(--bg-Github);
    border: 1px solid var(--bg-Github);
}

/* Linkedin */
.info__network--Linkedin {
    color: var(--bg-Linkedin);
    border: 1px solid var(--bg-Linkedin);
}

/* Behance */
.info__network--Behance {
    color: var(--bg-Behance);
    border: 1px solid var(--bg-Behance);
}

/* CV */
.info__network--cv {
    color: var(--bg-cv);
    border: 1px solid var(--bg-cv);
}

/* ------------------------------------------
                [RESPONSIVE]
------------------------------------------- */

@media screen and (min-width: 1400px) {

    .home_box__info h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .home_box__info p {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

}

@media only screen and (max-width: 768px) {
    .header__logo img {
        width: 45px;
    }
}

@media only screen and (max-width: 768px) {

    .wall-home {
        height: auto;
        background-position: left;
    }

    .home_image {
        width: 70%;
        margin: 0 auto;
    }

    .home_box {
        padding: var(--pd-section-home-movil);
        flex-direction: column;
    }

    .home_box__info {
        order: 2;
        width: 100%;
    }

    .home_box__info h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .home_box__info h2 {
        font-size: 1.7rem;
        text-align: center;
    }

    .home_box__info p {
        font-size: .9rem;
        line-height: 1.3rem;
        text-align: center;
    }

    .btn-about-me {
        display: flex;
        justify-content: center;
    }

    .btn-about-me a {
        width: 50%;
    }

    .home__image {
        order: 1;
        width: 100%;
    }

    .home__image img {
        width: 80%;
        margin: auto;
        display: block;
    }

    .info__network {
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .info__network li {
        display: flex;
        width: auto;
    }

    .info__network li a {
        width: 100%;
        text-align: center;
    }

    /* Github */
    .info__network--Github {
        border: 1px solid var(--bg-Github);
    }

    /* Linkedin */
    .info__network--Linkedin {
        border: 1px solid var(--bg-Linkedin);
    }

    /* Behance */
    .info__network--Behance {
        border: 1px solid var(--bg-Behance);
    }

    /* CV */
    .info__network--cv {
        border: 1px solid var(--bg-cv);
    }

}