html,
body {
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: var(--bg-dark-2);
}

input,
textarea {
    font-family: 'Lato', sans-serif;
}

section {
    overflow: hidden;
}

/* -----------------------------------------
                [CONTENT]
------------------------------------------- */

.w-full {
    width: 100%;
}

/* PADDING SECTION */
.sec__pd--sm {
    padding: var(--pd-sec-sm);
}

.sec__pd {
    padding: var(--pd-sec);
}

/* TITLE SECTION */
.content_titlle {
    margin-bottom: .5rem;
    text-transform: uppercase;
}

.content_line {
    width: 7rem;
    height: .15rem;
    border-radius: .5rem;
}

/* SCROOLUP BUTTON */
.ml-icon-scrollUp {
    display: none;
    border: 1px solid var(--bg-purple-1);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: var(--bg-white);
    line-height: 2rem;
    padding: .5rem;
    transition: 1S;
    z-index: 2;
}

.ml-icon-scrollUp a {
    background: var(--bg-purple-1);
    background: var(--bg-gradient-purple);
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--bg-white);
}

/* -----------------------------------------
                [FOOTER]
------------------------------------------- */
.ml-footer {
    text-align: center;
    color: var(--bg-white);
    padding: var(--pd-footer);
    background-image: var(--bg-img-footer);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ml-footer p {
    margin: 0;
    font-size: .9rem;
}

/* -----------------------------
            UTILITIES 
------------------------------*/
/* ALIGN */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SELECT */
.no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* BACKGROUND */
.bg-gray-3 {
    background-color: var(--bg-gray-3);
}

.bg-purple-2 {
    background-color: var(--bg-purple-2);
}

/* TITLE */
.title {
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
}

/* LINE */
.bg__line--lightblue {
    background-color: var(--bg-lightblue-1);
}

.bg__line--fucsia {
    background-color: var(--bg-fucsia-1);
}

.bg__line--purple {
    background-color: var(--bg-purple-1);
}

/* COLOR TEXT */
.bg_txt--lightblue {
    color: var(--bg-lightblue-1);
}

.bg_txt--fucsia {
    color: var(--bg-fucsia-1);
}

.bg_txt--purple {
    color: var(--bg-purple-1);
}

/* LOADING PAGE */
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: var(--bg-dark-1);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-icon {
    width: 250px;
    height: 150px;
    background: url('../images/Icon/Icon_loader.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* SCROLL */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: var(--shadow-scrollbar-track);
    background-color: var(--bg-scrollbar);
}

body::-webkit-scrollbar {
    width: .5em;
    background-color: var(--bg-scrollbar);
}

body::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background-color: var(--bg-purple-1);
    background-image: var(--bg-scroll-thumb-image);
}

/* ------------------------------------------
                [RESPONSIVE]
------------------------------------------- */


@media screen and (max-width: 1200px) {
    body {
        font-size: .9rem;
    }
}

@media only screen and (max-width: 768px) {
    .ml-footer {
        background-position: center;
        padding: 0.7rem 0;
    }

    .ml-footer p {
        width: 100%;
    }
}

@media only screen and (max-width: 436px) {
    body {
        font-size: .8rem;
    }
    .sec__pd {
        padding: 5rem 2rem;
    }
    .loader-icon{
        width: 150px;
    }
}